@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-image: url(./resources/bg.jpg);
}
.container_box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
    perspective: 1000px;
}
.card_container{
    margin: 15px;
    perspective: 1000px;
}
.card_container:hover .card{
    transform: rotateY(180deg);
}
.card{
    position: relative;
    width: 350px;
    height: 400px;
    transform-style: preserve-3d;
    transition: all .5s;
}
.shadow{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    border-radius: 20px;
}
.front,
.back{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}
.front{
    background-size:cover;
    background-position:center;
}
.back{
    transform: rotateY(180deg);
    background: #1c1c1c;
}
.body_front{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 50px;
    font-size: 14px;
    text-align: center;
    color: white;
    transform: translateZ(60px);
}
.body_back{
    padding: 40px;
    text-align: center;
    transform: translateZ(60px);
}
.body_back h1{
    color: white;
}
.body_back p{
    margin-top: 10px;
    font-size: 16px;
    color: white;
}
.body_back input{
    padding: 10px 40px;
    margin-top: 20px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    color: black;
    background: #C7ED00;
    box-shadow: 1px 1px 30px -5px #C7ED00;
    border-radius: 10px;
    trasition: box-shadow .6s
}
.body_back input:hover{
    box-shadow: 1px 1px 30px 0px #449de6;
}
